@page "/gettoken"
<h1>User</h1>
<br/>
<h2>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoic3RyaW5nIiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvbmFtZWlkZW50aWZpZXIiOiJmYzY3OTFlZC1iNzRlLTQwMTQtYjA0OS1mYmJkOTkzNmIxOGIiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJ1c2VyIiwiZXhwIjoxNzI2OTI5MjU5LCJpc3MiOiJDaGF0LkFwaSIsImF1ZCI6IkNoYXQuQ2xpZW50In0.E-txlpJ-nccHGwmRIZ1CBKyOTms3z-YOz-E2areNWLU</h2>
<br/><br/>
<h1>Admin</h1>
<br/>
<h2>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiYWRtaW4iLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6IjU4NGZmMjEwLTU0MDItNGRjNi1hOTBkLTdkNDMzYTcxMzFkYiIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcm9sZSI6ImFkbWluIiwiZXhwIjoxNzI2OTI5MzU2LCJpc3MiOiJDaGF0LkFwaSIsImF1ZCI6IkNoYXQuQ2xpZW50In0.SnbzlnmamSgXZNTufyCedtfFCCbTTXPIXacHfnC6y4s</h2>
@code {
    
}